.page.theme_dark {
  --bg-color: #000028;
  --title-bg-color: #ff0070;
  --accent-color: #ff0070;
  --paragraph-color: #f1b2ce;
  background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.page.theme_dark .header__theme-menu-button:focus {
  outline: none;
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  border-block-start: 1px solid transparent;
  border-inline-start: 1px solid transparent;
  border-inline-end: 1px solid transparent;
  border-block-end: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.page.theme_dark .header__pseudo-rec {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.page.theme_dark .header__pseudo-rec::before {
  content: "rec";
}

.page.theme_dark .header__pseudo-rec::after {
  content: "";
}

.page.theme_dark .top-decorative-corner::after {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.page.theme_dark .bottom-decorative-corner {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.page.theme_dark .header__title {
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.page.theme_dark .footer_title {
  color: #db00ff;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.page.theme_dark .header__title-decor {
  color: var(--bg-color);
}

.page.theme_dark .title-decor {
  color: var(--bg-color);
}

.page.theme_dark .title-decor_less-weight {
  color: var(--bg-color);
}

.page.theme_dark .content__title {
  color: var(--accent-color);
}

.page.theme_dark .content__link:focus {
  outline: none;
}

.page.theme_dark .content__link:focus-visible {
  border: 1px solid #f1b2ce;
}

.page.theme_dark .content__link:hover {
  border-block-end: 1px solid var(--paragraph-color);
}
